.map-container {
  height: 600px;
}
.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px;
  border-radius: 4px;
}

.marker-number {
  font-size: 30px;
  padding-bottom: 100px;
}
.mapboxgl-ctrl-geocoder--input {
  border-radius: 5px;
  height: 30px;
}

.mapboxgl-ctrl-geocoder .suggestions {
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: medium;
  padding: 5px;
}

.mapboxgl-ctrl-geocoder .suggestion:last-child {
  border-bottom: none;
}
.bottom-bar {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(227, 208, 185);
  border-style: solid;
  border: 5px 5px 5px 5px black;
  border-color: rgb(115, 115, 115);
}

.left-control-panel {
  width: 700px;
  text-align: center;
}

.right-control-panel {
  width: 45vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-right: 20px;
}

.marker-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(201, 212, 223);
  border-radius: 5px;
  margin: 7px 7px 7px 7px;
  padding: 5px 5px 5px 5px;
  box-shadow: 2px 2px 1px 1px rgb(120, 120, 120);
}

.marker-button {
  width: 120px;
  background-color: rgb(27, 169, 169);
  border-radius: 5px;
  height: 30px;
  margin: 5px 5px 5px 5px;
  box-shadow: 2px 2px rgb(120, 120, 120);
}

.marker-button-selected {
  width: 120px;
  background-color: rgb(169, 48, 27);
  border-radius: 5px;
  height: 30px;
  margin: 5px 5px 5px 5px;
  box-shadow: 2px 2px rgb(120, 120, 120);
}

.marker-button:hover {
  cursor: pointer;
  background-color: rgb(35, 224, 224);
  box-shadow: 3px 3px 1px 1px rgb(120, 120, 120);
}

.sketch-picker {
  margin: 7px 7px 7px 7px;
  box-shadow: 2px 2px 1px 1px rgb(120, 120, 120);
}

.line-select-container {
  background-color: rgb(201, 212, 223);
  border-radius: 5px;
  margin: 7px 7px 7px 7px;
  padding: 5px 5px 5px 5px;
  box-shadow: 2px 2px 1px 1px rgb(120, 120, 120);
}

.line-select:hover {
  cursor: pointer;
}
